@font-face {
  font-family: 'Rubik Iso';
  src: url('../fonts/RubikIso/RubikIso-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('../fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2pP/PressStart2P-Regular.ttf') format('truetype');
  font-style: normal;
}


html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    pointer-events: initial;
}

body {
    background-image: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* ****************************************************************************************************************** */
/*                                                  VARIABLES                                                         */
/* ****************************************************************************************************************** */

:root {
    --min-dimension: min(100vh, 100vw);
    --max-dimension: max(100vh, 100vw);
    --box-shadow: 5px 3px 3px #393838;;
}

/* ************************************************************************************** */
/*                                         ANIMATIONS                                     */
/* ************************************************************************************** */

@keyframes rotation {
    70%  { transform: rotate(370deg); }
    80%  { transform: rotate(355deg); }
    90%  { transform: rotate(365deg); }
    100% { transform: rotate(360deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); } 
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* ****************************************************************************************************************** */
/*                                                  FULLSCREEN                                                        */
/* ****************************************************************************************************************** */

.fullscreen-request-container {
    /* Box */
    height: 100%;
    width: 100%;
    /* **Flex */
    /* ***Enfants */
    display: none;
    justify-content: center;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
    backdrop-filter: blur(15px);
}

.fullscreen-button-container {
    /* Box */
    --length: min(400px, calc(var(--min-dimension) * 0.9));
    height: var(--length);
    width: var(--length);
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(56, 58, 46, 0.8), rgba(12, 12, 12, 0.8));
    border-radius: 50% 20% / 10% 40%;
    box-shadow: var(--box-shadow);
    animation: shake 0.5s ease;
}

.fullscreen-request {
    /* Box */
    height: 10%;
    width: 90%;
    /* **Flex */
    /* ***Enfants */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* Text */
    text-align: center;
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: calc(var(--min-dimension) * 0.04);
}

.fullscreen-button {
    /* Box */
    box-sizing: border-box;
    width: 50%;
    height: 20%;
    /* Text */
    text-align: center;
    font-family: 'Audiowide', cursive;
    font-size: calc(var(--min-dimension) * 0.04);
    /* Décorations */
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 7px #999;
}

.fullscreen-button:hover {
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
}

.fullscreen-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

/* ****************************************************************************************************************** */
/*                                                  REGISTRATION                                                      */
/* ****************************************************************************************************************** */

.registration-container {
    /* Box */
    height: 100%;
    width: 100%;
    /* **Flex */
    /* ***Enfants */
    display: none;
    justify-content: center;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
    backdrop-filter: blur(10px);
}

/* ************************************************************************************** */
/*                                          FORM                                          */
/* ************************************************************************************** */

.register-container {
    /* Box */
    --length: calc(var(--min-dimension) * 0.75);
    height: var(--length);
    width: var(--length);
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(193, 196, 183, 0.8), rgba(12, 12, 12, 0.8));
    border-radius: 50% 20% / 10% 40%;
    box-shadow: var(--box-shadow);
    transition: box-shadow 400ms ease-in-out;
}

.register-container-animation {
    /* Animations */
    animation: shake 0.5s ease;
}

.register-container:hover {
    /* Décorations */
    box-shadow: 10px 5px 5px #393838;
}

.register-logo {
    /* Box */
    height: 40%;
    width: 80%;
    margin: 10% 5% 0 0%;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(56, 58, 46, 0.5), rgba(12, 12, 12, 0.5));
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.register-logo:hover {
    /* Animations */
    animation: shake 0.5s linear infinite;
}

.register-title {
    /* Box */
    height: 10%;
    width: 80%;
    margin: 4.5% 0 0 5%;
    /* Text */
    font-size: calc(var(--min-dimension) * 0.05);
    text-align: center;
    font-family: 'Audiowide', cursive;
    /* Décorations */
    text-shadow: 1px 1px darkgray, -1px -1px black;
}

.register-form {
    /* Box */
    height: 25%;
    width: 80%;
    margin: 3% 0 0 5%;
    box-sizing: content-box;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(56, 58, 46, 0.5), rgba(12, 12, 12, 0.5));
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

/* ********************************************************* */
/*                           INPUTS                          */
/* ********************************************************* */

.register-form > input[type=text] {
    /* Box */
    box-sizing: border-box;
    width: 90%;
    height: 30%;
    padding: 5%;
    /* Texte */
    outline: none;
    /* Décorations */
    border-radius: 3px;
    box-shadow: 0 7px #999;
    border: 2px solid #ccc;
    transition: border 0.5s;
}

.register-form > input[type=text]:focus {
    border: 2px solid #2da336;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.register-form > input[type=button] {
    /* Box */
    box-sizing: border-box;
    width: 90%;
    height: 30%;
    /* Décorations */
    border-radius: 3px;
    cursor: pointer;
    border: none;
    box-shadow: 0 7px #999;
}

.register-form > input[type=button]:hover {
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
}

.register-form > input[type=button]:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

/* ****************************************************************************************************************** */
/*                                                   WAITING                                                          */
/* ****************************************************************************************************************** */

.waiting-container {
    /* Box */
    height: 100%;
    width: 100%;
    /* **Flex */
    /* ***Enfants */
    display: none;
    justify-content: center;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
    backdrop-filter: blur(10px);
}

.loading-container {
    /* Box */
    --length: min(400px, calc(var(--min-dimension) * 0.9));
    height: var(--length);
    width: var(--length);
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(56, 58, 46, 0.8), rgba(12, 12, 12, 0.8));
    border-radius: 50% 20% / 10% 40%;
    box-shadow: var(--box-shadow);
}

.loading-title {
    /* Box */
    height: 20%;
    width: 80%;
    /* **Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text */
    font-size: calc(var(--min-dimension) * 0.035);
    text-align: center;
    font-family: 'Rubik Iso', cursive;
    color: white;
}

/* ****************************************************************************************************************** */
/*                                                   GAMEPAD                                                          */
/* ****************************************************************************************************************** */

/* ************************************************************************************** */
/*                                         PRINCIPAL                                      */
/* ************************************************************************************** */

.gamepad-container {
    /* Box */
    height: 100%;
    width: 100%;
    /* **Flex */
    /* ***Enfants */
    display: none;
    justify-content: space-around;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(139, 166, 31, 0.5), rgba(133, 45, 45, 0.5));
    backdrop-filter: blur(10px);
}

/* ************************************************************************************** */
/*                                  MOVEMENT/ACTIONS                                      */
/* ************************************************************************************** */

.movement-container, .actions-container {
    /* Box */
    height: 95%;
    width: 30%;
    margin: 0 1%;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(191, 195, 172, 0.5), rgba(17, 15, 15, 0.5));
    border-radius: 5px;
    box-shadow: 4px 4px rgba(58, 53, 53, 0.3);
}

.movement-infos-container, .joystick-container, .buttons-infos-container, .buttons-container {
    /* Box */
    height: 47.5%;
    width: 95%;
    margin: 0 2.5%;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(65, 65, 61, 0.5), rgba(17, 15, 15, 0.5));
    box-shadow: 3px 3px rgba(58, 53, 53, 0.3);
    transition: border-radius 1s;
}

/* ************************************************************************************** */
/*                                          BUTTONS                                       */
/* ************************************************************************************** */

/* ********************************************************* */
/*                      BUTTONS-CONTAINER                    */
/* ********************************************************* */

.buttons-container {
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: space-evenly;
    /* Décorations */
    border-radius: 5px;
}

.game-button {
    /* Box */
    width: 45%;
    height: 45%;
    /* Texte */
    font-size: 3vw;
    font-family: 'Audiowide';
    text-shadow: 1px 1px darkgray, -1px -1px black;
    color: white;
    /* Décorations */
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 calc(var(--min-dimension) * 0.007) #3a3636;
}

.game-button-active {
    box-shadow: 0 calc(var(--min-dimension) * 0.003) #1f1d1d;
    transform: translateY(calc(var(--min-dimension) * 0.004));
}

#game-button-A {
    /* Box */
    margin-bottom: 5%;
    margin-left: 5%;
    /* **Flex */
    /* ***Élément lui-même */
    align-self: flex-end;
}

#game-button-B {
    /* Box */
    margin-top: 5%;
    margin-right: 5%;
    /* **Flex */
    /* ***Élément lui-même */
    align-self: flex-start;
}

/* ********************************************************* */
/*                  BUTTONS-INFOS-CONTAINER                  */
/* ********************************************************* */

.buttons-infos-container {
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Décorations */
    border-radius: 5px;
}

.buttons-infos-container > img {
    /* Box */
    width: 70%;
    height: 70%;
    /* Décorations */
    box-shadow: 3px 3px rgba(58, 53, 53, 0.3);
    border-radius: 5px;
}

/* ************************************************************************************** */
/*                                     MOVEMENTS                                          */
/* ************************************************************************************** */

/* ********************************************************* */
/*                     JOYSTICK-CONTAINER                    */
/* ********************************************************* */

.joystick-container {
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Décorations */
    border-radius: 5px;
}

#joystick {
    /* Box */
    position: relative;
    width: 100%;
    height: 100%;
}

/* ********************************************************* */
/*                MOVEMENT-INFOS-CONTAINER                   */
/* ********************************************************* */

.movement-infos-container {
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Décorations */
    border-radius: 5px;
}

.labels-container, .datas-container {
    /* Box */
    height: 90%;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.labels-container {
    /* Box */
    width: 35%;
}

.datas-container {
    /* Box */
    width: 55%;
    margin-right: 5%;
}

.labels-container > *, .datas-container > * {
    /* Box */
    width: 90%;
    height: 15%;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    align-items: center;
}

.labels-container > * {
    /* Box */
    margin-left: 10%;
    /* **Flex */
    /* ***Enfants */
    justify-content: flex-start;
}

.labels-container > *, .datas-container > * {
    /* Texte */
    font-size: calc(var(--min-dimension) * 0.03);
    font-family: 'Audiowide';
    text-shadow: 1px 1px darkgray, -1px -1px black;
    color: lightslategray;
}

.datas-container > * {
    /* Texte */
    color: whitesmoke;
}

.health-bar {
    /* Box */
    width: 100%;
    height: 7.5%;
    margin-top: 3.75%;
    margin-bottom: 3.75%;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Décorations */
    background-color: #666;
    border-radius: 2px;
    box-shadow: 1px 1px rgb(57, 56, 56);
}

.health-status {
    /* Box */
    width: 95%;
    height: 65%;
    margin-left: 2.5%;
    /* Décorations */
    background-color: greenyellow;
    border-radius: 2px;
    box-shadow: 1px 1px rgb(57, 56, 56);
}

/* ************************************************************************************** */
/*                                       GAME                                             */
/* ************************************************************************************** */

.game-container {
    /* Box */
    height: 95%;
    width: 50%;
    margin: 0;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Décorations */
    background-image: linear-gradient(to bottom, rgba(191, 195, 172, 0.5), rgba(17, 15, 15, 0.5));
    border-radius: 5px;
    box-shadow: 4px 4px rgba(58, 53, 53, 0.3);
}

#minimap {
    /* Box */
    width: 90%;
    /* Décorations */
    box-shadow: 3px 3px rgba(58, 53, 53, 0.3);
    border-radius: 5px;
}

#game-title {
    /* Box */
    height: 20%;
    width: 90%;
    /* **Flex */
    /* ***Enfants */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Texte */
    font-size: calc(var(--min-dimension) * 0.05);
    font-family: 'Audiowide';
    text-shadow: 1px 1px darkgray, -1px -1px black;
    color: lightslategray;
}

/* ************************************************************************************** */
/*                                      CONDITIONS                                        */
/* ************************************************************************************** */

@media screen and (orientation: portrait) {
    /* ********************************************************* */
    /*                           INDEX                           */
    /* ********************************************************* */

    /* ***********************PRINCIPAL************************* */
    .gamepad-container {
        /* **Flex */
        /* ***Enfants */
        flex-direction: column;
    }

    /* ******************MOVEMENTS/ACTIONS********************** */
    .movement-container, .actions-container {
        /* Box */
        height: 25%;
        width: 95%;
        /* **Flex */
        /* ***Enfants */
        flex-direction: row-reverse;
    }

    .movement-container {
        /* **Flex */
        /* ***Élément lui-même */
        order: 1;
    }

    .actions-container {
        /* **Flex */
        /* ***Élément lui-même */
        order: 0;
    }

    .movement-infos-container, .joystick-container, .buttons-infos-container, .buttons-container {
        /* Box */
        height: 90%;
        width: 45%;
    }

    /* ***************************GAME************************** */
    .game-container {
        /* Box */
        height: 45%;
        width: 95%;
        /* **Flex */
        /* ***Élément lui-même */
        order: -1;
    }
}